<!-- <div class="footer-basic">
  <footer>
    <ul class="list-inline">
      <li class="list-inline-item"><a routerLink="index" routerLinkActive="true">Home</a></li>
    </ul>
    <p class="copyright">UPP © 2021</p>
  </footer>
</div>
 -->



   <!-- Site footer -->
 <html>
   <head>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   </head>
   <body>
     <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Plax <i>The Placement Portal </i> is a one stop shop for preparing for the placement. Be it on-campus placement or off-campus opportunities, you can get information for both. Also you get exposed to various kinds of aptitude test subjects along with competitive coding question. The expert's ultimate advice for the placement preparation is cheery on the cake! The weekly blog articles are rich with interview-ethics which are much needed along with the knowledge.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="https://devdocs.io/c/">C</a></li>
              <li><a href="https://xd.adobe.com/ideas/process/ui-design/">UI Design</a></li>
              <li><a href="https://www.php.net/docs.php">PHP</a></li>
              <li><a href="https://docs.oracle.com/en/java/">Java</a></li>
              <li><a href="https://developer.android.com/docs">Android</a></li>
              <li><a href="https://flutter.dev/docs">Templates</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a routerLink="placement">Placement</a></li>
              <li><a routerLink="article">Blog</a></li>
              <li><a routerLink="quiz">Quiz</a></li>
                <li><a routerLink="problems">Code</a></li>
              <li><a routerLink="index">Home</a></li>
              <li><a routerLink="terms">Privacy Policy</a></li>
            
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
         <a href="#">Plax</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
   </body>
   </html>
    
