<nav class="navbar navbar-dark navbar-expand-md nav-bar-custom " role="navigation">
  <!-- <img class="navbar-brand" src="../../assets/images/upp_logo.png"/> -->
  <!-- <a href="#" class="navbar-left"><img src="../../assets/images/upp_logo.png" alt="Logo"></a> -->
  <!-- <img src="https://storage.googleapis.com/placement_assets/PLACEMENT_IMAGES/upp_icon_final.png" style="width:10%;" alt="Plax Placement">  -->
  <div class="container-fluid"><a class="navbar-brand" href="#">Plax Placement</a>
    <button class="navbar-toggler" data-target="#navcol-1" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span
      class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-end"
         id="navcol-1">
      <ul class="nav navbar-nav">
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="index" routerLinkActive="true">Home</a>
        </li>
        <li class="nav-item" role="presentation" *ngIf="isExpert">
          <a class="nav-link" routerLink="add/post" routerLinkActive="true">Add Post</a>
        </li>
        <li class="nav-item" role="presentation" *ngIf="isExpert">
          <a class="nav-link" routerLink="add/problem" routerLinkActive="true">Add Problem</a>
        </li>
        <li class="nav-item" role="presentation" *ngIf="isExpert">
          <a class="nav-link" routerLink="add/question" routerLinkActive="true">Add Question</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="article" routerLinkActive="true">Articles</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="placement" routerLinkActive="true">Placement</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="quiz" routerLinkActive="true">Quiz</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="problems" routerLinkActive="true">Code</a>
        </li>
        <li class="nav-item" role="presentation" *ngIf="isExpert">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
